{% include('includes/head.twig') %}

<body {{ wp.body_class }} >

  {% include('includes/header.twig') %}

  <div class="wrap container" role="document">
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div><!-- /.content -->
  </div><!-- /.wrap -->

  {% include('includes/footer.twig') %}

  {{ wp.wp_footer }}

</body>
</html>